# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Dataset
data/raw/
data/processed/

# Model files
models/*.keras
models/*.h5
models/*.pkl

# OS
.DS_Store
Thumbs.db